<section class="bg-zinc-900 p-20 rounded-xl my-4">
  <h1 class="text-5xl font-bold my-5">About us</h1>
  <p class="text-zinc-300">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet et
    doloremque tempore rerum dignissimos possimus autem sit doloribus neque
    incidunt soluta at nemo laudantium itaque deserunt minus, aliquid facere!
  </p>
</section>
