---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Page">
    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam nihil aliquam maiores iste molestias voluptate distinctio totam? Tempora iste dolore fuga maxime, cupiditate iusto et? Provident tempora ullam eos ex ea quaerat ad minima deserunt repudiandae id commodi dicta placeat beatae, ratione aut quia fugiat doloremque perspiciatis? Earum nostrum doloribus ex ad ab optio tempora possimus voluptatibus ducimus totam delectus eos dolorem dolore, deserunt libero nihil hic veniam! Voluptas eum perspiciatis dicta nam architecto alias obcaecati perferendis enim asperiores. Similique cumque, ducimus voluptates iure error, recusandae qui, odit minima nihil quidem veniam dicta et magnam a quisquam consectetur doloremque. Illo?</p>
</Layout>